<div>
    
    <form (ngSubmit)='submitMeal()' #mealForm='ngForm'>
        <div class="form-group">
  
            <label for="foodname">FoodName</label>
            <input type="text" required class="form-control" id="foodname" [(ngModel)]="newMeal.foodname" name="foodname" #foadname='ngModel'>
            Display {{newMeal.foodname}}

        </div>
        <div class="form-group">
  
            <label for="calories">Calories</label>
            <input type="text" required class="form-control" id="calories" [(ngModel)]="newMeal.calories" name="calories"#carories='ngModel'>
  
        </div>
        <div class="form-group">
  
            <label for="details">Details</label>
            <textarea class="form-control" id="details" rows="4" [(ngModel)]="newMeal.details" name="details"required #details='ngModel'></textarea>
  
        </div>
        <button type="submit" class="btn btn-success">Add Meal Plan</button>

    </form>
  </div>