   <div class="container">
    <div class="row">
      <div class="col-md-6">
        <hr>
        <h2 class="text-center pd-4">My Meals</h2>
        <div *ngFor='let meal of meals;let i = index'>
          <ul class="meals">
              <li><span class="food">FoodName:{{meal.foodname}}</span><br>
                  <span class="cal">Calories:{{meal.calories}}</span> <br>
              <span class="cal">Details:{{meal.details}}</span></li>
          </ul>
          <button  class="btn btn-warning">View More</button>

          </div>
          <div class="row pt-5">
            <div class="col-md-6">
              <button  class="btn btn-primary" >High Calories Food</button>
              <!-- (click)='getCalories()' -->
            </div>
            <div class="col-md-6">
              <button  class="btn btn-info">low Calories Food</button>

            </div>
          </div>
  
 </div>
 <div class="col-md-6">
  <hr>

  <h2 class="text-center">Create a new Meal Plan</h2>
  <app-meal-form (addMeal)="addNewMeal($event)"></app-meal-form>
</div>
 </div>

   </div>   

     